<div id="music-content" class="hidden mt-8">
    <h2 id="albumlabel" class="text-xl font-bold mb-4">Now Playing</h2>
    <img id="album-art" src="/img/placeholder.png" alt="Album Art" class="w-32 h-32 rounded mx-auto mb-4">
    <p id="song" class="text-lg font-semibold text-center">Song</p>
    <p id="artist" class="text-md text-center">Artist</p>
    <p id="album" class="text-sm text-center">Album</p>
</div>
<div id="loader" class="mt-8 text-center">
    <i class="fas fa-spinner fa-spin text-blue-200"></i>
</div>