<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aiden Charles</title>
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.0/typed.min.js" integrity="sha512-zKaK6G2LZC5YZTX0vKmD7xOwd1zrEEMal4zlTf5Ved/A1RrnW+qt8pWDfo7oz+xeChECS/P9dv6EDwwPwelFfQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body class="bg-blue-900 text-white">
    <div class="w-full flex justify-center p-4 sm:hidden">
        <button id="menu-button" class="text-white focus:outline-none">
        <i class="fas fa-bars"></i>
        </button>
    </div>
    <div class="flex">
        <%- include('shards/sidebar') %>
        <div id="main-content" class="flex-1 p-8">
            <div class="text-center">
                <img src="/img/profile.jpg" alt="Profile Picture" class="w-32 h-32 rounded-full mx-auto">
                <h1 class="text-4xl font-bold mt-2">Aiden Charles</h1>
                <h3 id="typed" class="text-2xl mt-2 text-gray-400"></h3>
                <div class="mt-2">
                <a href="https://x.com/GobbledyGooker7" class="text-blue-400 hover:text-blue-300 mx-2">
                    <i class="fab fa-twitter"></i> Twitter
                </a>
                <a href="https://github.com/TheJaxL" class="text-blue-400 hover:text-blue-300 mx-2">
                    <i class="fab fa-github"></i> GitHub
                </a>
                <a href="mailto:percy17@disroot.org" class="text-blue-400 hover:text-blue-300 mx-2">
                    <i class="fa-solid fa-envelope-open"></i> Email
                </a>
                </div>
            </div>
            <div class="mt-8 text-center">
                <div class="flex items-start justify-center">
                    <img src="/img/profile.jpg" alt="profile picture" class="w-12 h-12 rounded-full mr-4">
                    <p id="intro" class="mt-4 text-lg bg-blue-500 text-white p-4 rounded-lg inline-block">Hi there!</p>
                </div>
            </div>
            <div class="mt-8 text-center">
                <a href="mailto:percy17@disroot.org" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded inline-flex items-center mx-2">
                    <i class="fa-solid fa-envelope mr-2"></i> Email me
                </a>
                <a href="https://www.last.fm/user/The_Jaxster" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded inline-flex items-center mx-2">
                    <i class="fab fa-lastfm mr-2"></i> My LastFM
                </a>
                <a href="https://github.com/TheJaxL" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded inline-flex items-center mx-2">
                    <i class="fab fa-github mr-2"></i> My GitHub
                </a>
            </div>
        </div>
    </div>
    <script src="/js/lastfm.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/typed.js"></script>
</body>
</html>